@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700");

@font-face {
  font-family: "Noodle";
  src: url("~@/assets/bignoodletoo.woff");
}

body{
  font-family: "Noodle", sans-serif;
  background: #444444;
}