@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:700&display=swap');
@font-face {
  font-family: "Noodle";
  src: url("~@/assets/bignoodletoo.woff");
}

$base: 'Nunito Sans','Avenir', Helvetica, Arial, sans-serif;
$fancy: 'Noodle','Nunito Sans','Avenir', Helvetica, Arial, sans-serif;

$orange: #FF7800;
$dark: #3A3F43;
$opac: rgba(#fff,0.1);

$shadow: 0 2px 5px rgba(#000, 0.2);

body{
  font-family: $base;
  background: $orange;
  margin: 0;
  padding: 0;
}